@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Preview */

    .blanc-font-great {
        font-family: 'Great Vibes', cursive;
        font-size: 48px;
        font-weight: 400;
    }

    @media (max-width: 767px) {
    .blanc-font-great {
        font-size: 40px;
    }
    }

    * {
    box-sizing: border-box;
    }

    .blanc-container {
        width: 100%;
        max-width: 1280px;
        padding-left: 24px;
        padding-right: 24px;
        margin: 0 auto; /* Centraliza o container */
    }

    .blanc-img-quadrada {
        width: 100%;
        aspect-ratio: 1/1;
    }

    /* Global */

    .blanc-grid-two {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 767px) {
    .blanc-grid-two {
        grid-template-columns: 1fr;
    }
    }

    .blanc-item-block1 h2 {
        font-size: 24px;
    }

    .blanc-item-block1 img {
        width: 32px;
        height: 32px;
    }

    @media (max-width: 767px) {
    .blanc-item-block1 h2 {
        font-size: 18px;
    }
    .blanc-item-block1 img {
        width: 24px;
        height: 24px;
    }
    }

    .blanc-item-block2 h2 {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .blanc-item-block2 {
        display: flex !important;
        gap: 16px;
        flex-direction: column;
    }

    .blanc-text {
        font-size: 14px;
        max-width: 80%;
        text-align: left;
        line-height: 150%;
        letter-spacing: 1px;
        color: #595959;
    }

    @media (max-width: 767px) {
    .blanc-text {
        max-width: 100%;
    }
    }

    .blanc-text2 {
        font-size: 14px;
        max-width: 80%;
        text-align: left;
        line-height: 150%;
        letter-spacing: 1px;
        color: #595959;
    }

    @media (max-width: 767px) {
    .blanc-text2 {
        max-width: 100%;
    }
    }

    .blanc-text-slide {
        font-size: 16px;
        letter-spacing: 1px;
        color: #111111;
    }

    .blanc-gift-right {
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        padding: 80px;
    }

    .blanc-item-header {
        display: flex !important;
        align-items: center;
        gap: 16px;
        padding-bottom: 8px;
    }

    @media (max-width: 767px) {
    .blanc-item-header {
        gap: 5px;
    }
    }

    .blanc-list-ul li {
        color: #595959;
        line-height: 150%;
    }

    .blanc-text-black {
        color: #111111;
        line-height: 150%;
    }

    .blanc-list-details {
        padding-left: 48px;
        padding-right: 48px;
    }

    @media (max-width: 767px) {
    .blanc-list-details {
        padding-left: 32px;
        padding-right: 32px;
    }
    }

    .blanc-div-link {
        display: flex !important;
        flex-direction: column;
        padding-bottom: 4px;
        border-bottom: 1px solid #A3A3A3;
    }

    .blanc-link {
        text-decoration: none;
        font-size: 12px;
        color: #111111;
    }

    .blanc-item-gift {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Primeiro Bloco */

    .blanc-section-description {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .blanc-text-description {
        max-width: 760px;
        font-size: 24px;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 1px;
        width: 100%;
    }

    @media (max-width: 767px) {
    .blanc-text-description {
        font-size: 14px;
    }
    .blanc-section-description {
        padding-top: 32px;
        padding-bottom: 64px;
    }
    }

    /* Segundo Bloco */

    .blanc-section-slide {
        width: 100%;
        overflow: hidden; /* Esconde o que sai da tela */
        white-space: nowrap;
        display: flex !important;
        position: relative;
    }

    .blanc-marquee-gradient {
        width: 48px;
        height: 48px;
        position: absolute;
        z-index: 1;
    }

    .blanc-marquee-gradient.left {
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        left: 0;
    }

    .blanc-marquee-gradient.right {
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        right: 0;
    }

    .marquee-content {
        display: flex !important;
        align-items: center;
        gap: 40px; /* Espaçamento entre os itens */
        animation: scroll 20s linear infinite;
    }

    .marquee-content span {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .marquee-content img {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 767px) {
    .marquee-content {
        font-size: 24px;
    }
    .marquee-content span {
        font-size: 12px;
    }
    .marquee-content img {
        width: 16px;
        height: 16px;
    }
    }

    /* O Ícone SVG */
    .icon {
    width: 20px;
    height: 20px;
    }

    /* A Mágica do Loop */
    @keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
    }

    /* Terceiro Bloco */
    .blanc-section-details {
        padding-top: 100px;
        padding-bottom: 24px;
    }

    @media (max-width: 767px) {
    .blanc-section-details {
        padding-top: 64px;
    }
    }

    .blanc-list-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex !important;
        flex-direction: column;
        gap: 8px;
    }

    .blanc-list-ul li .black {
        color: #11111;
    }

    /* Quarto Bloco */
    .blanc-section-guarantee {
        display: flex !important;
        flex-direction: row;
        width: 100%;
        padding-bottom: 100px;
    }

    @media (max-width: 767px) {
    .blanc-section-guarantee {
        flex-direction: column;
        padding-bottom: 64px;
    }
    }

    @media (max-width: 767px) {
    .blanc-guarantee-block-left {
        min-width: 100%;
    }
    }

    .blanc-guarantee-block-left {
        border: solid 1px #000;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 24px;
        display: flex !important;
        width: fit-content;
        gap: 8px
    }

    .blanc-guarantee-block-left p {
        width: fit-content;
        font-size: 14px
    }

    .blanc-guarantee-block-right {
        flex: 1;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        background-color: #F4F4F4;
        padding-left: 24px;
        padding-right: 24px;
        gap: 24px;
        justify-content: space-between;
    }

    @media (max-width: 767px) {
    .blanc-guarantee-block-right {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 24px;
        padding-top: 24px;
    }
    }

     /* Quinto Bloco */
    blanc-section-highlights {
        padding-bottom: 120px;
    }

    @media (max-width: 767px) {
    blanc-section-highlights {
            padding-bottom: 32px;
    }
    }


    .blanc-section-highlights {
        gap: 8px;
    }

    @media (max-width: 767px) {
    .blanc-section-highlights {
        gap: 56px;
    }
    }

    .blanc-highlight-item {
        display: flex !important;
        flex-direction: column;
        gap: 16px;
    }

    .blanc-highlight-item h2 {
        line-height: 100%;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 16px;
    }

    .blanc-item-sticky {
        top: 16px;
        display: flex !important;
        flex-direction: column;
        gap: 16px;
    }

    /* Sexto Bloco */

    .blanc-section-gift {
        gap: 8px;
    }

    .blanc-div-gift-text {
        display: flex !important;
        align-items: center;
        padding: 80px;
        gap: 32px;
        background-color: #EDEDED;
    }

    @media (max-width: 767px) {
    .blanc-div-gift-text {
        padding: 0px;
    }
    }

    .blanc-wrapper-gift-text {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .blanc-wrapper-gift-text p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 150%;
        color: #595959;
    }

    .blanc-wrapper-gift-text h3 {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 100%;
        color: #595959;
    }

    .blanc-div-gift-subtext {
        display: flex !important;
        flex-direction: column;
        gap: 8px;
    }

    /* Setimo Bloco */

    .blanc-grid-three {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 56px;
        row-gap: 56px;
    }

    @media (max-width: 767px) {
    .blanc-grid-three {
        grid-template-columns: 1fr;
        row-gap: 40px
    }
    }

    .blanc-section-faq {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex !important;
        flex-direction: column;
    }

    @media (max-width: 767px) {
    .blanc-section-faq {
        padding-top: 64px;
    }
    }

    .blanc-section-faq h2 {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 16px;
    }

    .blanc-faq-item {
        display: flex !important;
        flex-direction: column;
    }

    .blanc-faq-item h3 {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 150%;
        font-weight: 600;
        color: #595959;
        margin: 0;
    }

    .blanc-faq-item p {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 1px;
        color: #595959;
        margin: 0;
    }
